@charset "utf-8";

/* START 컨텐츠 영역*/
#sub_contents_wrap .content h2 {font-size: 24px; color: #333; letter-spacing: -0.4px; line-height: 32px;}
#sub_contents_wrap .content h2 strong {font-weight: bold;}
#sub_contents_wrap .content h2 strong span {color: #e03236;}


/* START 음악영재발굴/지원 */
#sub_contents_wrap.genius .content h2 {margin-bottom: 38px;}
#sub_contents_wrap.genius .content > div {padding-bottom: 33px; margin-bottom: 60px; background: url(../images/sub/bg_content_line.gif) 0 bottom no-repeat;}

#sub_contents_wrap.genius .content_1 > div {font-size: 14px; line-height: 26px; letter-spacing: -1px; color: #555;}
#sub_contents_wrap.genius .content_1 > div p {margin-bottom: 28px;}
#sub_contents_wrap.genius .content_1 > div > p:first-child {float: left;}
#sub_contents_wrap.genius .content_1 > div > p:first-child + div {float: right; width: 340px;}
#sub_contents_wrap.genius .content_1 > div > p:first-child + div + p {clear: both; margin-bottom: 35px;}
#sub_contents_wrap.genius .content_1 .btn_wrap a {margin-left: 82px;}
#sub_contents_wrap.genius .content_1 .btn_wrap a:first-child {margin-left: 0;}

#sub_contents_wrap.genius .content_2 > .description {margin-bottom: 50px;}
#sub_contents_wrap.genius .content_2 > .description > div {float: left; width: 346px; font-size: 14px; line-height: 26px; letter-spacing: -1px; color: #555;}
#sub_contents_wrap.genius .content_2 > .description > p {float: right;}
#sub_contents_wrap.genius .content_2 > .concurs_record {padding-top: 36px; width: 500px; margin: 0 auto; background: url(../images/sub/bg_content_line_2.gif) center top no-repeat;}
#sub_contents_wrap.genius .content_2 > .concurs_record > p {text-align: center; font-size: 20px; color: #e03236; font-weight: bold; margin-bottom: 34px;}
#sub_contents_wrap.genius .content_2 > .concurs_record ul {padding-bottom: 40px; font-size: 14px; line-height: 26px; color: #555; font-weight: bold;}
#sub_contents_wrap.genius .content_2 > .concurs_record li {overflow: hidden;}
#sub_contents_wrap.genius .content_2 > .concurs_record li > p {float: left; margin-right: 14px;}
#sub_contents_wrap.genius .content_2 > .concurs_record li > div {float: left;}

#sub_contents_wrap.genius .content_3 > div {font-size: 14px; line-height: 26px; letter-spacing: -1px; color: #555;}
#sub_contents_wrap.genius .content_3 > div > p:first-child {float: left;}
#sub_contents_wrap.genius .content_3 > div > p:first-child + div {float: right; width: 340px; margin-bottom: 20px;}
#sub_contents_wrap.genius .content_3 > div > p:first-child + div > p {margin-bottom: 20px;}
#sub_contents_wrap.genius .content_3 > div > p:first-child + div + p {clear: both;}

#sub_contents_wrap.genius .content_4 p:first-child {margin-bottom: 26px;}
#sub_contents_wrap.genius .content_4 p:first-child + p {font-size: 14px; line-height: 26px; letter-spacing: -1px; color: #555;}
/* END 음악영재발굴/지원 */


/* START 금호 연주자 아카이브 */
.archive .search_option {padding-bottom: 10px; border-bottom: 2px solid #333; margin-bottom: 25px;}
.archive .search_option .type_wrap {float: left;}
.archive .search_option .type_wrap a {display: inline-block; width: 83px; height: 37px; border: 1px solid #e4e4e4; margin-left: 6px; line-height: 37px; text-align: center; font-size: 12.5px;}
.archive .search_option .type_wrap a:first-child {margin-left: 0;}
.archive .search_option .type_wrap a:hover, .archive .search_option .type_wrap a:focus {background-color: #2a2a30; border-color: #2a2a30; color: #fff;}
.archive .search_option .form_wrap {float: right;}
.archive .search_option .form_wrap select {width: 110px; height: 39px; padding-left: 10px; border: 1px solid #e4e4e4; margin-left: 6px; line-height: 37px;}
.archive .search_option .form_wrap select:first-child {margin-left: 0;}
.archive .search_option .form_wrap input[type="text"] {width: 110px; height: 37px; padding-left: 10px; border: 1px solid #e4e4e4; margin-left: 6px; line-height: 37px;}
.archive .search_option .form_wrap input[type="image"] {margin-left: 6px;}

.archive .archive_list .title_year {font-size: 28px; text-align: center; font-weight: bold; margin-bottom: 35px;}
.archive .archive_detail_wrap {margin-bottom: 100px;}
.archive .archive_detail {overflow: hidden; margin-top: 20px;}
.archive .archive_detail:first-child {margin-top: 0;}
.archive .archive_detail .profile {float: left;}
.archive .archive_detail .profile_desc {float: right; width: 500px;}
.archive .archive_detail .profile_desc .name {font-size: 20px; text-align: center; font-weight: bold;}
.archive .archive_detail .profile_desc > div {margin-top: 17px; overflow: hidden;}
.archive .archive_detail .profile_desc > div p {float: left; height: 45px; line-height: 45px;}
.archive .archive_detail .profile_desc > div p:first-child {width: 118px; margin-right: 26px; font-size: 18px; font-weight: bold;}
.archive .archive_detail .profile_desc > div p select {width: 354px; height: 43px; padding-left: 22px; border: 1px solid #e4e4e4; font-size: 14px;}
.archive .archive_detail .profile_desc > .p_1 {margin-top: 20px;}

.archive .paging {width: 322px; margin: 0 auto;}
.archive .paging > a {float: left; margin-left: 3px;}
.archive .paging > a:first-child {margin-left: 0;}
.archive .paging ul {float: left; text-align: center; }
.archive .paging li {float: left; border: 1px solid #ddd; margin-left: 3px;}
.archive .paging li:first-child {margin-left: 0;}
.archive .paging li strong, .archive .paging li a {display: block; width: 36px; height: 36px; line-height: 36px; font-weight: bold;}
.archive .paging li strong, .archive .paging li a:hover, .archive .paging li a:focus {background-color: #2a2a30; color: #fff;}
/* END 금호 연주자 아카이브 */


/* START 클래식공연 지원 */
#sub_contents_wrap.classic .content h2 {float: left; margin-bottom: 64px;}
#sub_contents_wrap.classic .content > .btn_wrap {float: right; margin-top: 8px;}
#sub_contents_wrap.classic .content > div {clear: both;}
#sub_contents_wrap.classic .content > div > p:first-child {padding-bottom: 58px; margin-bottom: 26px; background: #fff url(../images/sub/bg_content_line.gif) 0 bottom no-repeat;}
#sub_contents_wrap.classic .content > div .text {padding-bottom: 30px; margin-bottom: 78px; background: #fff url(../images/sub/bg_content_line.gif) 0 bottom no-repeat;}
#sub_contents_wrap.classic .content > div .text p {font-size: 14px; font-weight: bold; line-height: 26px; letter-spacing: -0.4px; color: #555; margin-top: 20px;}
#sub_contents_wrap.classic .content > div .text p:first-child {margin-top: 0;}

#sub_contents_wrap.classic .content_2 > p a {width: 156px;}
/* END 클래식공연 지원 */


/* END 컨텐츠 영역*/