@charset "utf-8";

/* START 컨텐츠 영역*/
#sub_contents_wrap .content .content_bg{height: 260px;background: url(../images/sub/art/art_1.jpg) 0 0 no-repeat;position: relative;margin-bottom:53px;}
#sub_contents_wrap .content .content_bg h2{font-size: 24px;position: absolute;bottom: 19px;right: 23px;}
#sub_contents_wrap .content .content_bg h2 strong{font-weight: bold;}
#sub_contents_wrap .content .content_bg h2 strong span {color: #e03236;}
#sub_contents_wrap .content .content_art_1 p {float: left;margin-bottom: 77px}
#sub_contents_wrap .content .content_art_1 p + p {margin-left:34px; width:350px; line-height:26px; font-size:14px;color: #555;text-align:justify;}
#sub_contents_wrap .content .content_art_1 p + p strong{font-weight: bold;font-size: 16px;}
#sub_contents_wrap .content .content_art_2 p {float: right;}
#sub_contents_wrap .content .content_art_2 p + p {margin-right:33px; width:350px; margin-top:5px; line-height:26px; font-size:14px;color: #555;text-align:justify;}
#sub_contents_wrap .content .content_art_2 p + p strong{font-weight: bold;font-size: 16px;}

#sub_contents_wrap .content .content_bg2 {height:428px; margin-bottom: 30px; background: url(../images/sub/art/bg_artist.jpg) 0 0 no-repeat;position: relative;}
#sub_contents_wrap .content .content_bg2 img{float: left;padding: 143px 0 0 39px;}
#sub_contents_wrap .content .content_bg2 img:first-child{padding: 143px 0 0 21px ;}
#sub_contents_wrap .content .content_bg2 p{position: absolute;bottom: 64px; left:93px;}
#sub_contents_wrap .content .content_bg2 p + img + p {position: absolute;bottom: 64px; left:350px;}
#sub_contents_wrap .content .content_bg2 p + img + p + img + p{position: absolute;bottom: 64px; left:605px;}
#sub_contents_wrap .content .content_art_3 h2{font-size: 24px;text-align: center;padding-bottom:35px;}
#sub_contents_wrap .content .content_art_3 h2 strong{font-weight: bold;}
#sub_contents_wrap .content .content_art_3 h2 strong span {color: #e03236;}
#sub_contents_wrap .content .content_art_3 p{line-height: 26px; font-size: 14px; color: #555;}
#sub_contents_wrap .content .content_art_3 p strong{font-weight: bold;font-size: 16px;}

#sub_contents_wrap .content .content_bg3 {height: 462px;background: url(../images/sub/art/display_1.jpg) 0 0 no-repeat;position: relative;margin-bottom: 22px;}
#sub_contents_wrap .content .content_bg3  h2{font-size: 24px;position: absolute;bottom: 40px;right: 205px;}
#sub_contents_wrap .content .content_bg3  h2 strong{font-weight: bold;}
#sub_contents_wrap .content .content_bg3  h2 strong span {color: #e03236;}
#sub_contents_wrap .content .content_art_4{padding-left: 40px;width: 553px;}
#sub_contents_wrap .content .content_art_4 p{line-height: 26px; font-size: 14px; color: #555;text-align: justify;}
#sub_contents_wrap .content .content_art_4 p strong{font-weight: bold;font-size: 16px;}

/* END 컨텐츠 영역*/