@charset "utf-8";

/* START 컨텐츠 영역*/
#sub_contents_wrap .content .content_bg{height: 260px;background: url(../images/sub/art/art_1.jpg) 0 0 no-repeat;position: relative;margin-bottom:53px;}
#sub_contents_wrap .content .content_bg h2{font-size: 24px;position: absolute;bottom: 22px;right: 23px;}
#sub_contents_wrap .content .content_bg h2 strong{font-weight: bold;}
#sub_contents_wrap .content .content_bg h2 strong span {color: #e03236;}
#sub_contents_wrap .content .content_art_1 p {float: left;margin-bottom: 77px}
#sub_contents_wrap .content .content_art_1 p + p {margin-left:34px; width:350px; line-height:26px; font-size:14px;color: #555;text-align:justify;}
#sub_contents_wrap .content .content_art_1 p + p strong{font-weight: bold;font-size: 16px;}
#sub_contents_wrap .content .content_art_2 p {float: right;}
#sub_contents_wrap .content .content_art_2 p + p {margin-right:33px; width:350px; margin-top:5px; line-height:26px; font-size:14px;color: #555;text-align:justify;}
#sub_contents_wrap .content .content_art_2 p + p strong{font-weight: bold;font-size: 16px;}

/* END 컨텐츠 영역*/