@charset "utf-8";

/* START 컨텐츠 영역*/
#sub_contents_wrap .content h2 {text-align: center; font-size: 24px; color: #333; letter-spacing: -0.4px; line-height: 35px; margin-bottom: 18px;}
#sub_contents_wrap .content h2 strong {font-weight: bold;}
#sub_contents_wrap .content h2 span {color: #e03236; font-weight: bold;}
#sub_contents_wrap .content h3 {font-size: 18px; color: #000; letter-spacing: -0.4px; margin-bottom: 30px;}
#sub_contents_wrap .content p {font-size: 14px; color: #333; letter-spacing: -0.4px; line-height: 26px;}
#sub_contents_wrap .content h3+p{margin-bottom: 30px;}
/* END 컨텐츠 영역*