@charset "utf-8";

#sub_contents_wrap .content .content_contact_1 h2{font-size: 24px;}
#sub_contents_wrap .content .content_contact_1 h2 strong{font-weight: bold;}
#sub_contents_wrap .content .content_contact_1 h2 strong span {color: #e03236;}
#sub_contents_wrap .content .content_contact_1 .scroll-area{width: 740px; height: 426px; border: 1px solid #000;overflow-y: scroll;}
#sub_contents_wrap .content .content_contact_1 .scroll-area .title{font-size: 15px;font-weight: bold;}
#sub_contents_wrap .content .content_contact_1 .scroll-area li{font-size: 14px;}

#sub_contents_wrap .content .content_contact_2 h2{font-size: 24px;}
#sub_contents_wrap .content .content_contact_2 h2 strong{font-weight: bold;}
#sub_contents_wrap .content .content_contact_2 h2 strong span {color: #e03236;}

