@charset "utf-8";

/* START 재단소개*/
#sub_contents_wrap .content_intro h2 {background: url(../images/sub/bg_content_line.gif) 0 bottom no-repeat; padding-bottom: 25px;text-align: center; font-size: 24px; color: #333; letter-spacing: -0.4px; line-height: 35px; margin-bottom: 18px;}
#sub_contents_wrap .content_intro h2 strong {font-weight: bold;}
#sub_contents_wrap .content_intro h3 {font-size: 18px; color: #000; font-weight: bold; letter-spacing: -0.4px; margin: 55px 0 20px 0;}
#sub_contents_wrap .content_intro p {font-size: 14px; color: #333; letter-spacing: -0.4px; line-height: 26px; text-align: justify;}
#sub_contents_wrap .content_intro h2 + p{float: left; margin: 20px 20px 0 0;}
#sub_contents_wrap .content_intro .con_img{padding-bottom: 280px; background: url(../images/sub/introduction_2.jpg) 0 bottom no-repeat;}
#sub_contents_wrap .content_intro .con_img p{clear: both; width: 500px; padding-top: 50px; text-align: justify;}
#sub_contents_wrap .content_intro .con_img + p{text-align: justify; padding-top: 30px;}
/* END 재단소개*/

/* START 이사장 인사말*/
#sub_contents_wrap .content_greeting{width:764px; position:relative;} 
#sub_contents_wrap .content_greeting strong{font-weight: bold;}
#sub_contents_wrap .content_greeting p{float:left; margin-right: 35px;}
#sub_contents_wrap .content_greeting h2 {font-size: 24px; line-height: 35px; color: #333; letter-spacing: -0.4px; margin-bottom: 25px; padding-top:10px;}
#sub_contents_wrap .content_greeting h2 span {font-size: 24px; color: #e03236; font-weight: bold;}
#sub_contents_wrap .content_greeting h2 + p {width:400px; font-size: 14px; color: #333; letter-spacing: -0.4px; line-height: 26px; text-align: justify;}
#sub_contents_wrap .content_greeting h2 + p + p{width:764px; font-size: 14px; color: #333; letter-spacing: -0.4px; line-height: 26px; text-align: justify;}
#sub_contents_wrap .content_greeting h2 + p + p + p{font-size: 14px; color: #333; letter-spacing: -0.4px; line-height: 26px; text-align: justify; margin-top: 20px;}
#sub_contents_wrap .content_greeting h2 + p + p + p + p{font-size:14px; position:absolute; left:450px; top:700px; width:400px;height:90px;  padding-top:50px; background:url(../images/sub/greeting_2.gif) 150px 10px no-repeat;}
#sub_contents_wrap .content_greeting p strong{font-weight: bold; color:#000; line-height:26px;}
/*END 이사장 인사말*/

/* START 연혁 */
#sub_contents_wrap .content_history{width:764px; background: url(../images/sub/history_bg1.png) 380px 0 repeat-y; padding-bottom:40px}
#sub_contents_wrap .content_history .history_tab li{float: left;}
#sub_contents_wrap .content_history .history_tab li a{font-size: 16px; text-align: center; width: 378px; height: 53px; line-height: 53px; color: #333;  display:block; border:1px solid #ddd;}
#sub_contents_wrap .content_history .history_tab li a:hover, #sub_contents_wrap .content_history .history_tab li a.on{width: 378px; background-color: #3c3c42; color: #fff; border: 1px solid #3c3c42;}
#sub_contents_wrap .content_history .history_list_wrap{position: relative;}
#sub_contents_wrap .content_history .history_list_wrap h2{position: absolute; left: 0; top: 0; line-height:55px; font-size:56px; color: #aaa; font-weight: bold;}
#sub_contents_wrap .content_history .history_list_wrap h2 span{font-size:40px; font-weight: normal;}

#sub_contents_wrap .content_history .history_list_wrap ul.his_right{margin:40px 0 0 230px;}
#sub_contents_wrap .content_history .history_list_wrap ul.his_right li h3{float: left; font-weight: bold; font-size: 37px; padding-right:108px; background:url(../images/sub/history_bg2.png) 120px center no-repeat;}
#sub_contents_wrap .content_history .history_list_wrap ul.his_right li p{float: left; font-weight: bold; font-size: 37px; margin-bottom:15px;}
#sub_contents_wrap .content_history .history_list_wrap ul.his_right li>ul{clear: both; margin-left:200px;}
#sub_contents_wrap .content_history .history_list_wrap ul.his_right li>ul>li{line-height: 24px; padding-left: 10px; background: url(../images/sub/history_bg_dot.png) left 50% no-repeat;}

#sub_contents_wrap .content_history .history_list_wrap ul.his_center{margin:40px 0 0 230px;}
#sub_contents_wrap .content_history .history_list_wrap ul.his_center li h3{float: left; font-weight: bold; font-size: 37px; padding-right:108px; background:url(../images/sub/history_bg2.png) 120px center no-repeat;}
#sub_contents_wrap .content_history .history_list_wrap ul.his_center li>ul{float: left; padding-top: 10px;}
#sub_contents_wrap .content_history .history_list_wrap ul.his_center li>ul>li{line-height: 24px; padding-left: 10px; background: url(../images/sub/history_bg_dot.png) left 50% no-repeat;}

#sub_contents_wrap .content_history .history_list_wrap ul.his_left{position: relative; margin-top: 40px;}
#sub_contents_wrap .content_history .history_list_wrap ul.his_left li h3{position: absolute; left:350px; top: 20px; font-weight: bold; font-size: 37px; padding-left: 60px; background:url(../images/sub/history_bg2.png) left center no-repeat;}
#sub_contents_wrap .content_history .history_list_wrap ul.his_left li p{font-weight: bold; font-size: 37px; margin-bottom:15px;}
#sub_contents_wrap .content_history .history_list_wrap ul.his_left li>ul{clear: both;}
#sub_contents_wrap .content_history .history_list_wrap ul.his_left li>ul>li{line-height: 24px; padding-left: 10px; background: url(../images/sub/history_bg_dot.png) left 50% no-repeat;}
/* END 연혁*/

/* START  맵*/
#sub_contents_wrap .content_map{width:764px;}
#sub_contents_wrap .content_map .map_tab a{margin-bottom:40px;}
#sub_contents_wrap .content_map .map_tab li{float: left;}
#sub_contents_wrap .content_map .map_tab li a{font-size: 16px; text-align: center; width: 251px; height: 53px; line-height: 53px; color: #333; display:block; border: 1px solid #ddd; margin-left:-1px;}
#sub_contents_wrap .content_map .map_tab li a:hover, #sub_contents_wrap .content_map .map_tab li a.on{
width: 251px; background-color: #3c3c42; color: #fff; border: 1px solid #3c3c42; border-right: 1px solid #3c3c42;}


#sub_contents_wrap .content_map .traffic h2{font-size:24px; color:#000;	 margin:40px 0 30px 0;}
#sub_contents_wrap .content_map .traffic h2 span{font-size: 24px; color: #e03236; font-weight:bold;}
#sub_contents_wrap .content_map .traffic p{border-bottom:1px solid #e3e3e3;}
#sub_contents_wrap .content_map .traffic p:first-child{border-bottom:none;}
#sub_contents_wrap .content_map .traffic div.mapline p{border:1px solid #ccc;}
#sub_contents_wrap .content_map .traffic h2+p{border-top:2px solid #333; padding-top:20px}
#sub_contents_wrap .content_map .traffic h2+p{border-top:2px solid #333; padding-top:20px}
#sub_contents_wrap .content_map .traffic h2+p+p+p+p{border-bottom:none;}

#sub_contents_wrap .content_map .traffic a:hover{text-decoration:underline;}
#sub_contents_wrap .content_map .traffic .traffic_con p{float:left; line-height:26px; border-bottom:none;}

#sub_contents_wrap .content_map .traffic .traffic_con p>span{color: #e03236; margin-right:5px;}
#sub_contents_wrap .content_map .traffic{border-bottom:1px solid #333;	}
#sub_contents_wrap .content_map .traffic p>strong{font-size: 15px; color:#000; font-weight:bold; display:inline-block; width:70px; padding-left:15px;}
#sub_contents_wrap .content_map .traffic p{font-size: 15px;	padding:20px 0;}
/* END 맵*/
