@charset "utf-8";

/* START 컨텐츠 영역*/
#sub_contents_wrap .content h2 {background: url(../images/sub/bg_content_line.gif) 0 bottom no-repeat; padding-bottom: 25px;text-align: center; font-size: 24px; color: #333; letter-spacing: -0.4px; line-height: 35px; margin-bottom: 18px;}
#sub_contents_wrap .content h2 strong {font-weight: bold;}
#sub_contents_wrap .content h3 {font-size: 18px; color: #000; font-weight: bold; letter-spacing: -0.4px; margin: 55px 0 20px 0;}
#sub_contents_wrap .content p {font-size: 14px; color: #333; letter-spacing: -0.4px; line-height: 26px; text-align: justify;}
#sub_contents_wrap .content h2 + p{float: left; margin: 20px 20px 0 0;}
#sub_contents_wrap .content .con_img{padding-bottom: 280px; background: url(../images/sub/introduction_2.jpg) 0 bottom no-repeat;}
#sub_contents_wrap .content .con_img p{clear: both; width: 500px; padding-top: 50px; text-align: justify;}
#sub_contents_wrap .content .con_img + p{text-align: justify; padding-top: 30px;}
